<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="PackageInstaller_RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="../../Data/logs/packageInstaller.server.log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd-HHmm" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>ssssdds
s
    <root>ssss
      <appender-ref ref="PackageInstaller_RollingFile" />
    </root>
  </log4net>
</configuration>