<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore-8-Client-Libraries" version="8.0.150621" targetFramework="net452" />
  <package id="Sitecore-8-Kernel-Libraries" version="8.0.150621" targetFramework="net452" />
  <package id="Sitecore-8-Sitecore.Update-Libraries" version="8.0.150621" targetFramework="net452" />
</packages>